@model IntroMVC.Models.HotelBookingModel 

<h1>Here are your Hotel Booking Details:</h1>

<h3>Room is registered to @Model.GuestName</h3>

<h3>Start of stay is @Model.DateStart</h3>

<h3>End of Sta is @Model.DateEnd</h3>

<h3>Confirmation number is @Model.Id</h3>